@model CondoVision.Models.FractionViewModel

@{
    ViewData["Title"] = "Eliminar Fração";
}

<h1>Eliminar Fração</h1>

<h3>Tem certeza de que deseja eliminar esta fração?</h3>
<div>
    <h4>Fração</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.UnitNumber)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.UnitNumber)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Floor)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Floor)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Block)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Block)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Area)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Area)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Permilage)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Permilage)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CondominiumName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CondominiumName)</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">

        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>

</div>
