@model CondoVision.Models.FractionViewModel

@{
    ViewData["Title"] = "Detalhes da Fração";
}

<h1>Detalhes da Fração</h1>

<div>
    <h4>Fração</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Block)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Permilage)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Permilage)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CondominiumName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CondominiumName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WasDeleted)
        </dt>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>


