@model CondoVision.Models.UnitViewModel

@{
    ViewData["Title"] = "Eliminar Unidade: " + Model.UnitName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Painel">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Unit" asp-action="Index" asp-route-condominiumId="@ViewBag.CondominiumId">Unidades</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><
</div>


<section class="content">
    <div class="container-fluid">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Confirmação de Eliminação</h3>
                    </div>
                    <div class="card-body">
                        <h4>Tem a certeza que deseja eliminar esta unidade?</h4>
                        <dl class="row">
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UnitName)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.UnitName)</dd>
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Permillage)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Permillage)%</dd>
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.OwnerFullName)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.OwnerFullName)</dd>
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CondominiumName)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.CondominiumName)</dd>
                        </dl>
                    </div>
                    <div class="card-footer text-right">
                        <form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="Id" />
                            <a asp-action="Index" asp-route-condominiumId="@ViewBag.CondominiumId" class="btn btn-secondary">Cancelar</a>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>