@model CondoVision.Models.FractionOwnerViewModel

@{
    ViewData["Title"] = "Eliminar Proprietário";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning">
    Tem certeza de que deseja eliminar este proprietário? Esta ação marcará o registro como deletado e não poderá ser desfeita.
</div>

<div class="row">
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UnitId)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.UnitId)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UserId)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.UserId)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UnitNumber)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.UnitNumber)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FractionFloor)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.FractionFloor)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FractionBlock)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.FractionBlock)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CondominiumName)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.CondominiumName)</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Confirmar Eliminação" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
