@model CondoVision.Data.Entities.Condominium

@{
    ViewData["Title"] = "Eliminar Condomínio";
   
}



<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card card-danger card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-exclamation-triangle"></i> Confirmação de Eliminação</h3>
                    </div>
                    <div class="card-body">
                        <h3 class="lead text-center mb-4">Tem a certeza de que quer eliminar este condomínio?</h3>
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Company)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Company!.Name)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn btn-danger float-right"><i class="fas fa-trash"></i> Eliminar</button>
                            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar para a Lista</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

