@model CondoVision.Data.Entities.Condominium

@{
    ViewData["Title"] = "Detalhes do Condomínio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-info-circle"></i> Informações do Condomínio</h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.CreationDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CreationDate)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Company)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Company!.Name)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info"><i class="fas fa-edit"></i> Editar</a>
                        <a asp-action="Index" class="btn btn-secondary float-right"><i class="fas fa-arrow-left"></i> Voltar para a Lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


