@using CondoVision.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CondoVision</title>
    <link rel="icon" href="~/favicon.png" type="image/png" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CondoVision.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_CondoVisionTheme.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        @* Navbar *@
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Conteúdo da Navbar simplificado para clareza -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>
                        @(User?.Identity?.IsAuthenticated ?? false ? User.Identity.Name : "Conta")
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <a asp-controller="Account" asp-action="Enable2FA" class="dropdown-item">
                                <i class="fas fa-shield-alt"></i> Ativar 2FA
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt"></i> Sair
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="dropdown-item">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </a>
                            <a asp-controller="Account" asp-action="Register" class="dropdown-item">
                                <i class="fas fa-user-plus"></i> Registar
                            </a>
                        }
                    </div>
                </li>
            </ul>
        </nav>

        @* Sidebar *@
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a asp-controller="Home" asp-action="Painel" class="brand-link">
                <img src="~/AdminLTE/dist/img/AdminLTELogo.png" class="brand-image img-circle elevation-3" style="opacity: .8" />
                <span class="brand-text font-weight-light">CondoVision</span>
            </a>

            <div class="sidebar">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">@User.Identity.Name</a>
                        </div>
                    </div>
                }

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        @* Menu condicional por roles *@
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            if (User.IsInRole("CompanyAdmin"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="CompanyAdmin" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-tachometer-alt"></i>
                                        <p>Painel Admin</p>
                                    </a>
                                </li>
                                <!-- Mais links do admin... -->
                            }
                            else if (User.IsInRole("CondoManager"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="CondoManager" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-chart-line"></i>
                                        <p>Painel Gestor</p>
                                    </a>
                                </li>
                                <!-- Mais links do gestor... -->
                            }
                            else if (User.IsInRole("CondoOwner"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="CondoOwner" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>Meu Painel</p>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link">
                                    <i class="nav-icon fas fa-sign-in-alt"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>

        @* Conteúdo principal *@
        <div class="content-wrapper">
            @RenderSection("ContentHeader", required: false)
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        @* Footer *@
        <footer class="main-footer">
            <strong>&copy; @DateTime.Now.Year - CondoVision.</strong> Todos os direitos reservados.
            <div class="float-right d-none d-sm-inline-block">
                <a asp-controller="Home" asp-action="Privacy">Privacidade</a>
            </div>
        </footer>

        @* Logout Modal Partial seguro *@
        @await Html.PartialAsync("_LogoutModal")

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" asp-append-version="true"></script>
    <script src="~/AdminLTE/dist/js/adminlte.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
